<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FarmingMacro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FarmingMacro.Properties.Settings>
            <setting name="start" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="stop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="end" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="inv" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="chat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="coordX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="coordY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="coordRow" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cropIndex" serializeAs="String">
                <value>0</value>
            </setting>
        </FarmingMacro.Properties.Settings>
    </userSettings>
</configuration>